* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
